!!!
%head
  %title Badger Sketches
  %link{ rel: 'stylesheet', href: '/font-awesome.css'}
  %style{ type: 'text/css' }
    :sass
      $back: #342D31
      $page: #F7FDFA

      // #C1B9AF
      // #6C6F69

      body
        background: $back
        margin: 0
        padding: 0
        font-family: "Pluto Sans"
        font-weight: 300

      .nav
        text-align: right
        color: white
        font-weight: 100
        margin: 0 10px

        .brand
          float: left

      .page
        background: $page
        color: $back
        margin-left: 10px
        padding: 10px
        border-top-left-radius: 20px

        .swatches
          overflow: hidden
          .swatch
            width: 50px
            height: 50px
            margin: 10px
            float: left
            border-radius: 25px
          .divider
            height: 50px
            width: 1px
            margin: 10px
            background: black
            float: left
  %script{ src: '/jquery-1.7.2.min.js' }
  %script{ src: '/jquery.maskedinput-1.3.min.js' }
  :javascript
    $(function(){
      $.mask.definitions['~']='[0-9]|[a-f]';
      $(".color").mask("#~~~~~~", {
        completed: function(){
          var alternates
        }
      })
    })
    //
    function convertHexToInts(color){
      color.replace(
        /^#?([a-z0-9][a-z0-9])([a-z0-9][a-z0-9])([a-z0-9][a-z0-9])/i,
          function() {
            return parseInt(arguments[1], 16) + ',' +
                    parseInt(arguments[2], 16) + ',' +
                    parseInt(arguments[3], 16);
            }
        ).split(/,/)
    }
    function getForeground(color){
      var delta = (color.r * 0.299) + (color.g * 0.587) + (color.b * 0.114)
      if(255 - delta < 105)
        return '#000000'
      else
        return '#ffffff'
    }

%body
  .nav
    %p.brand Badger
    %p You are logged in as Emily
  .page
    %p And here's the page content
    %input.color
    .swatches
      .swatch{ style: 'background: #342D31' }
      .swatch{ style: 'background: #642D31' }
      .swatch{ style: 'background: #341D11' }
    .swatches
      .swatch{ style: 'background: #077495' }
      .swatch{ style: 'background: #740795' }
      .swatch{ style: 'background: #749507' }
      .swatch{ style: 'background: #950774' }
      .swatch{ style: 'background: #079574' }
      .swatch{ style: 'background: #957407' }
    .swatches
      .swatch{ style: 'background: #47b4d5' }
      .swatch{ style: 'background: #37a4c5' }
      .swatch{ style: 'background: #2794b5' }
      .swatch{ style: 'background: #1784a5' }

      .swatch{ style: 'background: #077495' }

      .swatch{ style: 'background: #076485' }
      .swatch{ style: 'background: #075475' }
      .swatch{ style: 'background: #074465' }
      .swatch{ style: 'background: #073455' }

    %h2 Some Golds...
    .swatches
      .swatch{ style: 'background: #F2D47C' }
      .divider
      - %w(F2 D4 7C).permutation.each do |perm|
        .swatch{ style: "background: ##{perm.join('')}" }
    .swatches
      .swatch{ style: 'background: #F2F4CC' }
      .swatch{ style: 'background: #F2F4BC' }
      .swatch{ style: 'background: #F2F4AC' }
      .swatch{ style: 'background: #F2F49C' }
      .swatch{ style: 'background: #F2E48C' }
      .divider
      .swatch{ style: 'background: #F2D47C' }
      .divider
      .swatch{ style: 'background: #E2C46C' }
      .swatch{ style: 'background: #D2B45C' }
      .swatch{ style: 'background: #C2A44C' }
      .swatch{ style: 'background: #B2943C' }
      .swatch{ style: 'background: #A2842C' }
    .swatches
      .swatch{ style: 'background: #D39105'}
      .divider
      - %w(D3 91 05).permutation.each do |perm|
        .swatch{ style: "background: ##{perm.join('')}" }
