!!!

%head
  %link{ rel: 'stylesheet', href: '/badger3.css'}
  %link{ rel: 'stylesheet', href: '/font-awesome.css'}
  %script(type="text/javascript" src="//use.typekit.net/sxk0nfs.js")
  :javascript
    try{Typekit.load();}catch(e){}

%body
  .container
    .row
      .col_2
        %h1
          Badger!
          %i.icon-certificate
          %i.icon-reorder
          %i.icon-briefcase
        .card
          %h1 Mydaus!
          %p Arctonyx, badger, badger.
      .col_2
        .card
          %h1 Mushroom, mushroom
          - %w(b7 a1 39).permutation.each do |perm|
            .swatch{ style: "background: ##{perm.join('')}; width: 50px; height: 50px; margin: 10px; float: left;" }
    .row
      .col_3
        %p This is the badge area
      .col_1
        .inset
          %h2 Professional
        .inset
          %h2 Gaming
