!!!
%html
  %link{ :rel => 'stylesheet', :type => 'text/stylesheet', :href => '/fruit-bowl.css' }
  %title Fruit Bowl
%body{ :class => params[:tab] || 'everything' }
  .clipper
    #navigation
      %ul
        %li.main
          %a{ :href => '/fruit-bowl' } everything
        %li.blog
          %a{ :href => '/fruit-bowl?tab=blog' } blog
        %li.twitter
          %a{ :href => '/fruit-bowl?tab=twitter' } twitter
        %li.delicious
          %a{ :href => '/fruit-bowl?tab=delicious' } delicious
        %li.flickr
          %a{ :href => '/fruit-bowl?tab=flickr' } flickr
        %li.reader
          %a{ :href => '/fruit-bowl?tab=reader' } reader
  .clipper
    #header
      #title
        %h1
          %span.site duien.com
          - unless params[:tab] == 'everything' || params[:tab].nil?
            \/ #{params[:tab]}
  #main
    .clipper
      .top
    .item.post
      .banner
        .clipper
          .title
            %h2 Some blog post
        .clipper
          .metadata
            .meta
              %span.date Aug 8, 2010
              \//
              %a{ :href => '/' } permalink
            .tags
              %span.tag post
              %span.tag awesome
      .clipper
        .body
          .content
            :maruku
              The body of the post. This is where I write a bunch of text.
    .item.tweet
      .banner
        .clipper
          .title
            %h2 “@mongodb: MongoDB 1.6.0 is out! Auto-sharding, replica sets, $or, and more - http://bit.ly/mongo160” Awesome!
        .clipper
          .metadata
            .meta
              %span.date Aug 5, 2010
              \//
              %a{ :href => '/' } on twitter
      .clipper
        .body
    .item.tweet
      .banner
        .clipper
          .title
            %h2 OH: "I have some sort of hamburger affliction on my spinal cord."
        .clipper
          .metadata
            .meta 
              %span.date Aug 4, 2010
              \//
              %a{ :href => '/' } on twitter
      .clipper
        .body
    .item.bookmark
      .banner
        .clipper
          .title
            %h2 About Blank notebook | Minimal Goods
        .clipper
          .metadata
            .meta
              %span.date Aug 4, 2010
              \//
              %a{ :href => '/' } view
              \//
              %a{ :href => '/' } on delicious
            .tags
              %span.tag shopping
              %span.tag notebook
              %span.tag minimal
      .clipper
        .body
  #footer
    .content
      %p
        Created by Emily Price with
        = succeed ',' do
          %a{ :href => 'http://www.ruby-lang.org/' } Ruby
        = succeed ',' do
          %a{ :href => 'http://www.sinatrarb.com/' } Sinatra
        and
        %a{ :href => 'http://www.mongodb.org/' } MongoDB
