!!!
%html
  %head
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/index.css' }
    %title Some Stuff
  %body
    %h1 Some Stuff
    %ul
      - @files.each do |file|
        %li
          %a{ :href => "/#{file}" }= file
