!!!
%html
  %head
    %title Self-Service
    %link{ rel: 'stylesheet', href: 'http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css' }
    :css
  %body
    .container
      -# .row
      -#   .span16
      %table.zebra-striped
        %thead
          %tr.row
            %th.span2.columns
            %th.span11.columns Name
            %th.span3.columns Mfg Code
        %tbody
          %tr.row
            %td.span2.columns
              %img{ src: 'http://placehold.it/60' }
            %td.span11.columns Colours Classic 30
            %td.span3.columns 3630 AB
