!!!
%html
  %head
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/grid_960/960.css' }
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/grid_960/reset.css' }
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/grid_960/text.css' }
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/side_tabs.css' }
  %body.container_12#two
    .sidebar.grid_2
      %ul
        %li.one
          %a{ :href => '#' } One
        %li.two
          %a{ :href => '#' } Two
        %li.three
          %a{ :href => '#' } Three
        %li.four
          %a{ :href => '#' } Four
    .main.grid_10
      Here is the main body content


