!!!
%html
  %head
    %title Ticketing
    %link{ :type => 'text/css', :href => 'ticketing.css', :rel => 'stylesheet' }
  %body
    .header
      %h1 Ticketing
    %ul.navigation
      %li
        %a.dashboard Dashboard
      %li
        %a.tickets Tickets
      %li
        %a.admin Admin
    %ul.sub_nav
      -#
      %li
        %a Site
      %li
        %a.current Users
      %li
        %a Projects
    .main
      %ul.sidebar
        %li
          %a Users
        %li.current
          .point
          %a Groups
        %li
          %a Rights
        %li
          %a Roles
      .content
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          gravida mollis aliquam. Donec eleifend mauris ut velit blandit
          scelerisque. Vivamus diam metus, iaculis at pharetra nec, tempus vel
          erat. Nulla semper nibh vitae ligula suscipit blandit. Integer vel
          purus et enim pharetra laoreet. Vestibulum facilisis dapibus
          pellentesque. Nulla eget augue eget dolor dignissim mollis. Sed tempus,
          velit vel sollicitudin tempus, odio magna adipiscing nunc, eget auctor
          metus enim non nibh. Vivamus congue tortor at sem semper ultrices.
          Mauris vestibulum ornare bibendum. Suspendisse potenti. Vivamus egestas
          dui eget nunc consequat aliquam. Phasellus vestibulum, leo non dapibus
          tincidunt, nisi velit sollicitudin dolor, eu ultricies lorem justo eget
          lectus. Mauris turpis dolor, placerat luctus mollis id, luctus vitae
          purus. Duis eu tortor ac velit suscipit lobortis sit amet ac ligula.
          Pellentesque habitant morbi tristique senectus et netus et malesuada
          fames ac turpis egestas.
        %p
          Maecenas varius ultricies iaculis. Aliquam id mattis dui. Nam auctor dolor
          libero. Morbi sit amet purus diam, non consequat leo. Sed fermentum dictum
          auctor. Nam sit amet ante quis neque tincidunt posuere. Ut ornare, ipsum id
          rutrum fringilla, velit odio vulputate ligula, ac gravida lectus arcu eu augue.
          Donec mattis urna ut nisi commodo vulputate. In tempus urna ac tellus dictum
          vitae consectetur tortor imperdiet. Maecenas at turpis vitae lacus tempor
          placerat. Maecenas auctor magna at dolor faucibus vehicula. Nunc bibendum nibh
          quis sem vestibulum bibendum non quis eros. Nam sagittis quam sed lectus
          feugiat ullamcorper. Class aptent taciti sociosqu ad litora torquent per
          conubia nostra, per inceptos himenaeos. Integer eros arcu, lacinia et ultrices
          id, congue non leo. Cras vitae suscipit nunc. Aliquam iaculis facilisis ligula,
          eu ullamcorper metus vehicula et. Quisque lobortis, est in elementum egestas,
          nibh ipsum congue justo, et blandit augue sapien at lectus. Vivamus pretium
          arcu in ligula consectetur porttitor. Curabitur risus augue, semper id mattis
          ut, vulputate sed enim.
          
