%html
  %head
    %title Twitter Wall
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"}
    %script{:src => "/socket.io/socket.io.js"}
    %script{:src => "tweet-wall.js"}
    :css
      .tweet{
        position: absolute;
        -webkit-perspective-origin: 50% 50%;
        -webkit-perspective: 500;
        -moz-perspective-origin: 50% 50%;
        -moz-perspective: 500;
      }
      
      .tweet .contents{
        background: white;
        border: 1px black solid;
        padding: 5px;
        margin: 0px;
        height: 100%;
        width: 100%;
        overflow: hidden;
        -webkit-transform: rotateY(0deg);
        -webkit-transform-style: preserve-3d;
        -webkit-transition: -webkit-transform 0.25s linear;
        -moz-transform: rotateY(0deg);
        -moz-transform-style: preserve-3d;
        -moz-transition: -webkit-transform 0.25s linear;
      }
      body {
      }
      
      .show .contents{
        visibility: hidden;
        -webkit-transform: rotateY(90deg);
        -moz-transform: rotateY(90deg);
      }
      
      .hide .contents{
        -webkit-transform: rotateY(-90deg);
        -moz-transform: rotateY(-90deg);
      }
      
      .tweet img {
        float: left;
        width: 25%;
        margin-right: 5%;
      }
      
      .tweet .name {
        font-weight: bold;
      }
      
      .tweet.medium {
        font-size: 200%;
      }
      
      .tweet.big {
        font-size: 300%;
      }
      
      body {
        margin: 0;
        padding: 0;
        background: #333;
      }
  %body
    %style{:name => "tweet-size"}
      \.tweet{ width: 226.83333333333334px; height: 117.66666666666666px; font-size: 16.208333333333332px;}
      \.tweet.medium{ width: 465.6666666666667px; height: 247.33333333333331px; }
      \.tweet.big{ width: 704.5px; height: 377px; }
    #105741658133499904.tweet.medium{:style => "top: 0px; left: 955.3333333333334px; "}
      .contents
        %img{:src => "http://a0.twimg.com/profile_images/1336920330/SS-2011.05.03-01.49.16_normal.png"}/
        .name NixiePixel
        .text Score! RT @trixie360 Good news for you single PAX goers. According to OKCupid, Seattle is the 2nd sluttiest city in America.
    #103899491198959616.tweet.medium{:style => "top: 0px; left: 0px; "}
      .contents
        %img{:src => "http://a3.twimg.com/profile_images/137965848/Picture_1_normal.png"}/
        .name TrittonUsa
        .text Don't forget...an RT plus a follow gives you 2 entries!  Lots of cool stuff for PAX!
    #105745188810539010.tweet{:style => "top: 518.6666666666666px; left: 716.5px; "}
      .contents
        %img{:src => "http://a1.twimg.com/profile_images/1505875704/me_normal.png"}/
        .name craigums
        .text @FireHoseGames I love you guys, I just got more excited for PAX!
    #105745245756600321.tweet{:style => "top: 259.3333333333333px; left: 716.5px; "}
      .contents
        %img{:src => "http://a3.twimg.com/profile_images/1082297671/IMG_1160_normal.JPG"}/
        .name astolot
        .text @LusciousPear You going to PAX this year?
    #104621022896078848.tweet.medium{:style => "top: 259.3333333333333px; left: 955.3333333333334px; "}
      .contents
        %img{:src => "http://a3.twimg.com/profile_images/137965848/Picture_1_normal.png"}/
        .name TrittonUsa
        .text And remember...RT and follow @TrittonUsa @MadCatzInc to get into our fabulous PAX Prime Giveaway!
    #105744622327836673.tweet.medium{:style => "top: 518.6666666666666px; left: 0px; "}
      .contents
        %img{:src => "http://a1.twimg.com/profile_images/863466214/ZenStudios_logo_wht_normal.jpg"}/
        .name zen_studios
        .text Going to PAX? Come hang with @Halfbrick @twisted_pixel @hellogames @RedLynxGamer @VblankGames http://t.co/3ZUvCZi hosted by @destructoid
    #105745283090087936.tweet{:style => "top: 648.3333333333333px; left: 716.5px; "}
      .contents
        %img{:src => "http://a2.twimg.com/profile_images/827952400/Firepit_normal.JPG"}/
        .name david_shea
        .text @KlavdyaB Your calendar ALWAYS has time for me! Grrrr! Now then. Thurs. even through Monday midday, in Seattle. F, S, Sun at PAX all day. U?
    #105744313077596160.tweet.medium{:style => "top: 0px; left: 477.6666666666667px; "}
      .contents
        %img{:src => "http://a3.twimg.com/profile_images/193460977/rym_normal.jpg"}/
        .name schezar
        .text #pax #pax #pax
    #105743988853714944.tweet.medium{:style => "top: 518.6666666666666px; left: 955.3333333333334px; "}
      .contents
        %img{:src => "http://a3.twimg.com/profile_images/337842483/Twiiter_Icon_normal.jpg"}/
        .name FireHoseGames
        .text Announcing Go Home Dinosaurs, our next game! w00t! http://t.co/vIYJhqo Come play it at PAX in a few days!
    #105745374739828736.tweet{:style => "top: 389px; left: 477.6666666666667px; "}
      .contents
        %img{:src => "http://a1.twimg.com/sticky/default_profile_images/default_profile_2_normal.png"}/
        .name Odd32
        .text
          Portal Creator's New Game To Be Unveiled At PAX Prime:
          Kim Swift, the creator of Portal, will be on-hand at PAX... http://t.co/iSpuCJQ
    #105745385930227713.tweet{:style => "top: 518.6666666666666px; left: 477.6666666666667px; "}
      .contents
        %img{:src => "http://a1.twimg.com/profile_images/1420687797/news-and-media_normal.jpg"}/
        .name FastNewss
        .text Portal Creator's New Game To Be Unveiled At PAX Prime http://q.gs/Lcb0 #gamers #info
    #105745384940371968.tweet{:style => "top: 259.3333333333333px; left: 477.6666666666667px; "}
      .contents
        %img{:src => "http://a3.twimg.com/profile_images/1365834321/westernlegend1_normal.jpg"}/
        .name oldschoolgamez
        .text
          \#videogames Portal Creator's New Game To Be Unveiled At PAX Prime:
          Kim Swift, the creator of Portal, will... http://t.co/h4hqPGg #news
    #105745384076349440.tweet{:style => "top: 648.3333333333333px; left: 477.6666666666667px; "}
      .contents
        %img{:src => "http://a0.twimg.com/profile_images/1128716422/epsalogo2-48x48_normal.jpg"}/
        .name electronicsspa
        .text Kim Swift, the creator of Portal, will be on-hand at PAX Prime this weekend, unveiling her new game at the Squa... http://t.co/1MnsUwb
    #105745425721606144.tweet{:style => "top: 389px; left: 716.5px; "}
      .contents
        %img{:src => "http://a1.twimg.com/profile_images/1178279877/watching_the_world_go_by_at_blue_ant_003_normal.png"}/
        .name LadyEden1337
        .text @LadyLizabee i'm. Following. A. #PAX. Organizer! *spazzes* monday #FF with @h_e_e_l_s! Really! 8O
    #105741404415864832.tweet.medium{:style => "top: 259.3333333333333px; left: 0px; "}
      .contents
        %img{:src => "http://a1.twimg.com/profile_images/757776151/logoooo_normal.png"}/
        .name Dtoid
        .text Dtoid's community meetup plans for PAX Prime! http://t.co/gsKXVZX
