@import font

body
  :font-family 'Delicious'
  :background black
h1
  :color white
  :clear both
  :margin 0
  :padding-top 50px
.palette
  :padding 20px
  :float left
  .name
    :clear both
    :color white
    :font-size 150%
    :padding-bottom 20px
    a
      :color white
      :text-decoration none
  .color
    :width 64px
    :float left
    :text-align center
    :vertical-align middle
    &.wide
      :width 256px
    .on_black
      visibility: hidden
      background: black
      padding: 5px 0
    .dark
      :padding 5px 0
    .med
      :padding 15px 0
      :font-weight bold
      .code
        :font-weight normal
        :color rgba(0,0,0,0.25)
    .light
      :padding 5px 0
    .on_white
      visibility: hidden
      background: white
      padding: 5px 0
  &:hover .on_black
    visibility: visible
  &:hover .on_white
    visibility: visible
